.root{
    margin: 2rem;
    background-color: F1F5F6;
    border-bottom: 2PX solid rgb(148, 125, 233);
    border-radius: 3%;
}

.links{
    display: flex;
    justify-content: space-around;
   
}

.img{
    margin: -3% -5% 0%  3%;
    -webkit-box-shadow: 8px 11px 21px 4px rgba(0,0,0,0.78); 
box-shadow: 8px 11px 21px 4px rgba(0,0,0,0.78);
border-top: 4PX solid rgb(141, 112, 248);
}

.img:hover{
    margin: -3% -5% -5%  3%;
    transition: 1s;
    height: 110%;
    width: 110%;
}

.button{
    background: rgb(148, 125, 233);;
    color: rgb(36, 34, 34);
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 50px;
    border: none;
    font-weight: 600;
    border-bottom: 2PX solid rgb(148, 125, 233);
    
    
}

.dark{
    font-weight: 800;
}
.button:hover{
    width: 200px;
    height: 60px;
    transition: 1s;
    background: rgb(142, 158, 230);
}

@media screen and (max-width: 600px) {
    .root{
        margin-top: 1.5rem;
    }
}