

.appBarTitle{
    flex-grow: 1;
    cursor: pointer;
    color: #fff;
  
    left: 10px;
    top: 7px;
    padding: 5px;
}
.appBarimg{
    height: 20%;
    width: 20%;
}
.logout{
    color: #5AFF3D;
    cursor: pointer;
}


.nameMiddle{
    color: #5AFF3D;
}

.link{
    text-decoration: none;
}