.root{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
  
}

.tags{
    color: #fff;
    font-family:nunito;
    margin-left: 12%;
}

.hr{
    width: 80%;
    margin: 0 10%;
    color: #fff;
}

.h1{
    margin: 1%;
    color: #fff;
}